@import './links';
@import './announcements';
@import './schedule';
@import './navbar';
@import './faq';
@import './utility';

.navbar a {
  text-transform: uppercase;
  font-size: 1.125rem;

  &.is-active {
    color: $primary;
  }
}

.navbar-item img {
  max-height: 100%;
}

h2 {
  font-size: 2.25em;
  font-weight: bold;
  color: $black;
  margin-bottom: 1rem;
}

.dashboard-section {
  margin-top: 2rem;

  &:first-child {
    margin-top: 0
  }
}
