.map {
  .map-svg {
    width: 80%;
    margin: 0 10%;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }

  h3 {
    color: $primary;
    font-weight: bold;
  }

  p {
    font-size: 1.15rem;
  }
}
