.countdown {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  margin: 0 0 2rem;
  padding: 1.25rem 2rem;
  font-size: 1rem;

  span {
    text-transform: uppercase;
  }

  .countdown-counter {
    text-align: right;

    .time {
      font-size: 2rem;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

.schedule {
  h3 {
    font-weight: bold;
    font-size: 1.1rem;
    color: $primary;
    text-transform: uppercase;
    margin: 0 0.5rem 1rem;
  }

  .schedule-day {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .schedule-filter {
    h4 {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .filter-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .filter-button {
      flex-basis: 48%;
      margin-bottom: 2%;
      background-color: #EEEEEE;
      color: $black;
      text-transform: uppercase;
      transition: 0.25s all;
      -webkit-transition: 0.25s all;
      border: 1px solid #EEEEEE;

      &.active {
        background-color: $primary;
        color: $white;
      }

      &:hover {
        border: 1px solid $primary;
      }
    }
  }

  .schedule-event {
    border: 1px solid #555555;
    border-radius: 4px;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0.5rem 0;

    &.schedule-event-faded {
      opacity: 0.5;
    }

    &.schedule-event-now {
      border-color: #EF5144;
      border-left-width: 10px;
    }

    &:first-child {
      margin-top: 0;
    }

    .schedule-event-time {
      text-transform: uppercase;
    }

    .schedule-event-label {
      border-radius: 4px;
      background-color: $dark;
      color: $white;
      padding: 0.5rem 1rem;
      text-align: center;

      &.schedule-event-label-food {
        background-color: #462470;
      }

      &.schedule-event-label-general {
        background-color: #E6194B;
      }

      &.schedule-event-label-fun {
        background-color: #0078FF;
      }
    }
  }
}
