$family-sans-serif: "Montserrat", Helvetica, "Helvetica Neue", Arial, "Comic Sans MS", sans-serif;

$primary: #EF5144;

$navbar-height: 4.375rem;
$navbar-item-color: $black;
$navbar-item-hover-color: $primary;

$link: $primary;
